*{
    margin: 0;
    padding: 0;
}
.container{
    min-height: 100vh;
    display: flex;
}
.contenedor-izquierdo{
    min-width: 20%;
    background-color: aqua;
}
.contenedor-derecho{
    min-width: 80%;
    background-color: rgb(19, 118, 83);
}
.cajas{
    display: flex;
    margin: 25px;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
}
.contenedor-lista{
    background-color: brown;
    display: flex;
}
@media (max-width: 300px) {
    .cajas{
        margin: 10px;
    }
    .contenedor-derecho p{
        font-size: small;
    }
}